extends layout

block content
   h1= title
   div.text-block
      p The team behind Scandinavian Language Jobs has many years of experience working with in-house recruitment in Sweden and abroad. We have experienced the big challenges of attracting talented people from the Scandinavian countries, and in many cases the gap between the demand and the candidate pipeline. This should not be the case and that’s why we exist. What makes us successful is that we are based in Scandinavia where we proactively search for candidates who are interested in proceeding their careers abroad. We understand where Scandinavian candidates search for jobs, or if they don’t actively search, we now how to attract them. This, together with our previous experience of facing the same challenges as you might do as working in-house with recruitment, makes us unique. Scandinavian Language Jobs’ goal is always to have the business partner mindset. We thrive in long-lasting collaborations where high transparency and frequent communication is key factors, with with candidates and clients. Therefore, we will never take on new collaborations where we feel we cannot deliver. Interested in getting in touch? Drop us an email and we’ll get back to you. 

   form(action="sendWithoutFile", 
      method="post"
      class="form form--company")
      input(type="text" name="subject" style="display:none" value="Mail from company")
      div.form__input
         label(for="name") Name *
         input(type="text", name="name", required placeholder="Name")
      div.form__input
         label(for="companyName") Company Name *
         input(type="text", name="companyName", required placeholder="Company Name")
      div.form__input
         label(for="email") Email *
         input(type="email", name="email", required placeholder="Email")
      div.form__input
         label(for="phone") Phone number
         input(type="tel", name="phone" placeholder="Phone number")
      div.form__input--text-area
         label(for="textarea") Write your message
         textarea(name="textarea", cols="30", rows="10" placeholder="Message")
      button(type="submit") Submit

