.main-wrapper {
  display: flex;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 0 0 241px;
  overflow-x: hidden;

  @media (max-width: 870px) {
    transition: all 0.25s ease;
    margin: 0;
  }
}

.text-block {
  max-width: 610px;
  width: 100%;
  margin: 0 auto $space-bottom;
  padding: 0 $size-normal;
}
