.flash-messages {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 999;

  .flash {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    background: darken(white, 10);
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    &--success {
      background: $color-main;
    }

    &--error {
      background: #f57b7b;
    }

    p {
      margin-bottom: 0;
    }
    button {
      padding-left: 12px;
      background: none;
      border: none;
      font-size: 1.2rem;
      color: rgba(black, 0.8);
      outline: none;
    }
  }
}
